.rstdi {
  --rstdiTranslate: 0px;
  --rstdiButtonMarginRight: 0px;
  --rstdiButtonMarginLeft: 0px;
}

.rstdi .content {
  transform: translateX(var(--rstdiTranslate));
}

.rstdi .content.deleting {
  transform: scale(0) translateX(var(--rstdiTranslate));
}

.rstdi .delete {
  font-weight: 400;
}

.rstdi .delete button {
  transition: margin transform 250ms ease-in-out;
  margin-left: var(--rstdiButtonMarginLeft);
  margin-right: var(--rstdiButtonMarginRight);
}