.rstdi {
  --rstdiTranslate: 0px;
  --rstdiButtonMarginLeft: 0px;
}

.rstdi .delete {
  font-weight: 400;
}

.rstdi .delete button {
  transition: margin transform 250ms ease-in-out;
  margin-left: var(--rstdiButtonMarginLeft);
}